.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#logo {
	height: 65px;
	}
@media screen and (min-width: 594px) {
  #whatsapp {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
}